<mat-toolbar>

    <span>Empowerment</span>

    <div class="menu">
        <span (click)="getPopularMovies()" class="menu__item">Home</span>
        <span (click)="getPopularTV()" class="menu__item">TV</span>
        <span class="menu__item">My list</span>
        <span class="menu__item">Lenguaje</span>
    </div>

    <span class="example-spacer"></span>

    <div class="search">
        <input (input)="inputSearchMovies($event.target)" type="text">
        <mat-icon>search</mat-icon>
    </div>



    <button mat-icon-button class="favorite-icon">
        <mat-icon>account_circle</mat-icon>
    </button>

</mat-toolbar>

<div class="banner">
    <img [src]="'https://image.tmdb.org/t/p/original/'+banner" alt="" loading="lazy">
    <div class="degrade"></div>
</div>

<main>
    <div class="movies">
        <div class="movies__movie" *ngFor="let movie of movies$ | async">
            <img [src]="'https://image.tmdb.org/t/p/w500/'+movie.poster_path" alt="">

            <div class="movies__movie__content">
                <div class="options">
                    <button (click)="openMovie(movie)" mat-icon-button>
                        <mat-icon>play_arrow</mat-icon>
                    </button>


                    <button (click)="addFavorite(movie.id)" mat-icon-button>
                        <mat-icon *ngIf="isFavorite(movie.id) | async">favorite</mat-icon>
                        <mat-icon *ngIf="!(isFavorite(movie.id) | async)">favorite_border</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>thumb_up</mat-icon>
                    </button>

                </div>
                <h3>{{movie.original_title}}</h3>
            </div>

        </div>
    </div>
</main>