<mat-toolbar>

    <span>Empowerment</span>

    <div class="menu">
        <span class="item">Home</span>
        <span class="item">TV</span>
        <span class="item">My list</span>
        <span class="item">Lenguaje</span>
    </div>

    <span class="example-spacer"></span>



    <button mat-icon-button class="favorite-icon">
        <mat-icon>favorite</mat-icon>
    </button>

</mat-toolbar>

<div class="banner">
    <img [src]="'https://image.tmdb.org/t/p/original/'+banner" alt="">
    <div class="degrade"></div>
</div>



<main>


    <div class="movies">
        <div class="movie" *ngFor="let movie of movies$ | async">
            <img [src]="'https://image.tmdb.org/t/p/w500/'+movie.poster_path" alt="">
        </div>
    </div>
</main>